<div class="col-lg-1">
    <h5>History</h5>
    <h5>Current</h5>
</div>
<div class="col-lg-11" ng-init="init()">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="alert bg-danger closeable" role="alert" ng-if="error.flag">
                <button type="button" class="close" aria-label="Close" ng-click="cancelOperationMessage('error')"><span
                        aria-hidden="true">&times;</span></button>
                <center><strong>NOT SAVED</strong></center>
            </div>
            <div class="alert bg-success closeable" role="alert" ng-if="success.flag">
                <button type="button" class="close" aria-label="Close"
                        ng-click="cancelOperationMessage('success')"><span
                        aria-hidden="true">&times;</span></button>
                <center><strong>SUCCESSFULLY SAVED</strong></center>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Code
                    </th>
                    <th>Default</th>
                    <th>Rage</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in current_currency">
                    <td>
                        {{item.code}}
                    </td>
                    <td>
                        <label class="checkbox-inline custom-checkbox nowrap">
                            <input type="checkbox" id="inlineCheckbox01" ng-model="item.base">
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <input type="text" class="form-control " id="input03"
                               placeholder="Sku" ng-model="item.rate">
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-8">
            <div style="padding-top: 20px">
                <button type="button" class="btn btn-primary" ng-click="update(current_currency)">UPDATE</button>
            </div>
        </div>
    </div>
</div>


