<div class="row" ng-init="init()">
    <div class="col-lg-1">
        <h5><a ng-click="nextPage()" href="">NEXT</a></h5>
    </div>
    <div class="col-lg-11">
        <div class="row">
            <div class="col-lg-4">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="sender"
                                placeholder="SENDER">
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="recepient"
                                placeholder="RECIPIENT">
                    </div>
                </form>
            </div>



            <div class="col-lg-3">
                <button ng-click="search(sender, recepient)"  ng-disabled="notSearchCritiria(sender, recepient)" class="btn btn-info">SEARCH BY ALL FIELDS</button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-3">
            <div class="alert bg-success closeable" role="alert" ng-if="success.new_product">
                <button type="button" class="close" aria-label="Close"
                        ng-click="cancel_alert('success', 'new_product')"><span aria-hidden="true">&times;</span>
                </button>
                <center><strong>Product Successfully Added To New Products!</strong></center>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-11" ng-init="init()">
        <div class="horizontal-scroll">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>SENDER</th>
                    <th>RECIPIENT</th>
                    <th>DATE</th>
                    <th>MESSAGE</th>


                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in messages">
                    <td><a ng-href="/#/catalog/product/{{item.sku}}">{{item.sender_email}}</a></td>
                    <td>{{item.recepient_email}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.message}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

