<div class="row" ng-init="init()">
    <div class="col-lg-10">
        <div ng-if="!previewFlag" ui-ace="{
        useWrapMode : true,
        showGutter: false,
        theme: 'chrome',
        mode: fileObject.type,
        firstLineNumber: 5,
        onLoad: aceLoaded,
        onChange: aceChanged
        }" style="height: 800px; font-size: 12pt" ng-model="fileObject.file"></div>
    </div>

    <div class="col-lg-2">
        <div class="row">
            <button ng-click="save(fileObject)"
                    class="btn btn-info">UPDATE     TEMPLATE
            </button>
            <br/><br/>
        </div>



        <div ng-if="!previewFlag" class="row">
            <button ng-click="preview(fileObject)"
                    class="btn btn-info">PREVIEW TEMPLATE
            </button>
        </div>
        <div ng-if="previewFlag" class="row">
            <button ng-click="edit()"
                    class="btn btn-info">EDIT    TEMPLATE
            </button>
            <br/><br/>
        </div>
    </div>
</div>
<div ng-if="previewFlag" class="row">
    <div class="col-lg-10">
        <div ng-bind-html="previewObject.file"></div>
    </div>
</div>