<div class="row" ng-if="!stage">
    <div class="col-lg-2">
        <h3>List</h3>
    </div>
    <div class="col-lg-10" ng-init="init()" >
        <div class="horizontal-scroll">
            <div class="form-group select-page-size-wrap ">
                <label>Rows on page
                    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                            ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                    </select>
                </label>
            </div>
            <table ng-if="ordersReady" class="table" st-table="orders">
                <thead>
                <tr class="sortable ">
                    <th class="table-id" st-sort="order_id" st-sort-default="true">Id</th>
                    <th st-sort="billing_address.lastname">Bill To Last Name</th>
                    <th st-sort="shipping_address.lastname">Ship To Last Name</th>
                    <th st-sort="data.grand_total">G.T. (based)</th>
                    <th st-sort="data.grand_total">G.T. (purchased)</th>
                    <th st-sort="data.updated_at">Date</th>
                </tr>
                <tr>
                    <th><input st-search="order_id" placeholder="Search ID" class="input-sm form-control search-input"
                               type="search"/></th>
                    </th>
                    <th><input st-search="billing_address.lastname" placeholder="Search  Name"
                               class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="shipping_address.lastname" placeholder="Search Name"
                               class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="subtotal" placeholder="Search Total"
                               class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="base_total" placeholder="Search Total"
                               class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="updated_at" placeholder="Search Date"
                               class="input-sm form-control search-input" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in orders">
                    <td class="table-id"><a  ng-href="/#/sales/orders/{{item.order_id}}" >{{item.order_id}}</a></td>
                    <td>{{item.billing_address.lastname}}</td>
                    <td>{{item.shipping_address.lastname}}</td>
                    <td>{{item.subtotal}}</td>
                    <td>{{item.grand_total}}</td>
                    <td>{{item.updated_at}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
