<h1>Customer</h1>
<form>
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input ng-model="customer.firstname" type="text" class="form-control" id="firstname" placeholder="">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input ng-model="customer.lastname" type="text" class="form-control" id="lastname" placeholder="">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input ng-model="customer.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="">
    </div>
    <div class="form-group">
        <label for="group">Group</label>
        <input ng-model="customer.group_id" type="text" class="form-control" id="group" placeholder="">
    </div>
    <div ng-if="flag.create" class="checkbox">
        <label class="custom-checkbox">
            <input type="checkbox" ng-model="confirmation">
            <span>Confirmation</span>
        </label>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-info" disabled>UPDATE</button>
        </div>
    </div>
</form>