<h4>Customer</h4>
<form ng-if="!customer_saved_data">
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input ng-model="customer.firstname" type="text" class="form-control" id="firstname" placeholder="">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input ng-model="customer.lastname" type="text" class="form-control" id="lastname" placeholder="">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input ng-model="customer.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="">
    </div>
    <div class="form-group">
        <label for="group">Group</label>
        <select name="group" id ="group" class="form-control selectpicker"     ng-options="option for option in customerGroups"      ng-model="customer.group_id" >
        </select>
    </div>
    <div ng-if="flag.create" class="checkbox">
        <label class="custom-checkbox">
            <input type="checkbox" ng-model="confirmation">
            <span>Confirmation</span>
        </label>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button ng-if="!customer_new" class="btn btn-info" disabled>UPDATE</button>
            <button ng-if="customer_new" ng-click="create_customer(customer)" class="btn btn-info">CREATE</button>
        </div>
    </div>
</form>

<div class="col-lg-6 col-lg-offset-3" ng-if="customer_saved_data">
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>
                Password: Copy It!!!
            </td>
            <td>
                {{customer_saved_data.password}}
            </td>
        </tr>
        <tr>
            <td>
                Customer
            </td>
            <td>
                <a ng-href="/#/customer/{{customer_saved_data.cid}}">{{customer_saved_data.email}}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
