<div ng-init="init()">
    <div class="row">
        <div class="col-lg-5">

            <div class="panel panel-primary  bootstrap-panel">
                <div class="panel-heading" style="padding: 10px 20px 20px 20px  ">Order Data</div>
                <div class="panel-body">
                    <table class="table table-bordered">

                        <tbody>
                        <tr>
                            <td>
                                Order Id
                            </td>
                            <td>
                                {{order.order_id}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Order Date
                            </td>
                            <td>
                                {{order.updated_at}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="col-lg-5">
            <div class="panel panel-primary  bootstrap-panel">
                <div class="panel-heading" style="padding: 10px 20px 20px 20px  ">Account Information</div>
                <div class="panel-body">
                    <table class="table table-bordered">

                        <tbody>
                        <tr>
                            <td>
                                Customer Name
                            </td>
                            <td>
                                {{future_order.data.customer_name}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Customer Email
                            </td>
                            <td>
                                {{future_order.data.customer_email}}
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <br/> <br/>

    <div class="row">
        <div class="col-lg-5">

            <div class="panel panel-primary  bootstrap-panel">
                <div class="panel-heading" style="padding: 10px 20px 20px 20px  ">Billing Address</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td>
                                Customer Name
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.billing_address.customer_name">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Street
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.billing_address.street">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                City
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.billing_address.city">
                            </td>
                        <tr>
                            <td>
                                Region
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.billing_address.region">
                            </td>
                        <tr>
                            <td>
                                Country
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.billing_address.country_id">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Postcode
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.billing_address.postcode">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Phone
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.billing_address.telephone">
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="col-lg-5">
            <div class="panel panel-primary  bootstrap-panel">
                <div class="panel-heading" style="padding: 10px 20px 20px 20px  ">Shipping Address</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td>
                                Customer Name
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.shipping_address.customer_name">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Street
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.shipping_address.street">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                City
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.shipping_address.city">
                            </td>
                        <tr>
                            <td>
                                Region
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.shipping_address.region">
                            </td>
                        <tr>
                            <td>
                                Country
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.shipping_address.country_id">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Postcode
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.shipping_address.postcode">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Phone
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder=""
                                       ng-model="future_order.shipping_address.telephone">
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-lg-5">

            <div class="panel panel-primary  bootstrap-panel">
                <div class="panel-heading" style="padding: 10px 20px 20px 20px  ">Payment Method</div>
                <div class="panel-body">
                    <div class="form-group">
                        <select
                                ng-options="option for option in payment_methods" ng-model="future_order.payment_method"
                                class="form-control selectpicker" title="Disabled Select" selectpicker>
                        </select>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-5">
            <div class="panel panel-primary  bootstrap-panel">
                <div class="panel-heading" style="padding: 10px 20px 20px 20px  ">Shipping Method</div>
                <div class="panel-body">
                    <input type="text" class="form-control " placeholder="" ng-model="future_order.shipping_method">
                </div>
            </div>

        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-lg-5">

            <div class="panel panel-primary  bootstrap-panel">
                <div class="panel-heading" style="padding: 10px 20px 20px 20px  ">Special Instructions</div>
                <div class="panel-body">
                    <input type="text" class="form-control " placeholder=""
                           ng-model="future_order.special_instructions">
                </div>

            </div>
        </div>

        <div class="col-lg-5">
            <div class="panel panel-primary  bootstrap-panel">
                <div class="panel-heading" style="padding: 10px 20px 20px 20px  ">Customer Purchase Order</div>
                <div class="panel-body">
                    <input type="text" class="form-control " placeholder=""
                           ng-model="future_order.customer_purchase_order">
                </div>
            </div>

        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-lg-10">
            <div class="alert bg-danger closeable" role="alert" ng-if="errors.product_load.flag">
                <button type="button" class="close" aria-label="Close" ng-click="cancel_product_error()"><span
                        aria-hidden="true">&times;</span></button>
                <center><strong>{{errors.product_load.message}}</strong></center>
            </div>
            <div class="alert bg-danger closeable" role="alert" ng-if="errors.product_table.flag">
                <button type="button" class="close" aria-label="Close" ng-click="cancel_product_table_error()"><span
                        aria-hidden="true">&times;</span></button>
                <center><strong>You have empty rows in your table</strong></center>
            </div>
            <div class="panel panel-primary  bootstrap-panel">
                <div class="panel-heading" style="padding: 10px 20px 20px 20px  ">Products</div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td>
                                <a href="" ng-click="addProductItem()"><i class="ion-plus-round"></i></a>
                            </td>
                            <th>
                                Part Type
                            </th>
                            <th>
                                Part Number
                            </th>

                            <th>
                                OEM
                            </th>
                            <th ng-if="false">
                                Original Price
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Qty
                            </th>
                            <th>
                                SubTotal
                            </th>
                            <th>
                                Tax Amount
                            </th>
                            <th>
                                Tax Percent
                            </th>
                            <th>
                                Discount Amoun
                            </th>
                            <th>
                                Row Total
                            </th>
                            <th>
                                DEL
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item  in future_products">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                {{item.part_type}}
                            </td>
                            <td>
                                <input type="text" class="form-control " id="input03"
                                       ng-blur="load_future_product(item.name, customer.group_id, $index)"
                                       placeholder="Sku" ng-model="item.name">
                            </td>
                            <td>
                                {{item.oem_part}}
                            </td>
                            <td ng-if="false">
                                {{item.original_price}}
                            </td>
                            <td>
                                {{item.price}}
                            </td>
                            <td width="12%">
                                <input type="number" class="form-control" id="input04" placeholder=""
                                       ng-model="item.quantity" ng-change="changed_qty($index)">
                            </td>
                            <td>
                                {{item.subtotal | number:2}}
                            </td>
                            <td>
                                {{item.tax_amount | number:2}}
                            </td>
                            <td>
                                <input type="number" class="form-control" id="input05" placeholder=""
                                       ng-model="item.tax_percent" ng-change="changed_qty($index)">
                            </td>
                            <td>
                                <input type="number" class="form-control" id="input06" placeholder=""
                                       ng-model="item.discount_amount" ng-change="changed_qty($index)">
                            </td>
                            <td>
                                {{item.row_total | number:2}}
                            </td>
                            <td><a ng-click="remove_product($index)" ng-href=""><i class="ion-close-round"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-5">

            <div class="panel panel-primary  bootstrap-panel">
                <div class="panel-heading" style="padding: 10px 20px 20px 20px  ">Comments History</div>
                <div class="panel-body">
                    <form>

                        <div class="form-group">
                            <select
                                    ng-options="option for option in statuses" ng-model="future_order.status"
                                    class="form-control selectpicker"
                                    title="Disabled Select" selectpicker>

                            </select>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" ng-model=future_order.data.comment
                                      placeholder="Comment"></textarea>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="col-lg-5">
            <div class="panel panel-primary  bootstrap-panel">
                <div class="panel-heading" style="padding: 10px 20px 20px 20px  ">Order Total</div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>
                                SubTotal:
                            </td>
                            <td>
                                {{future_order.subtotal | number:2}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Shipping Handling:
                            </td>
                            <td>
                                <input type="number" class="form-control " placeholder=""
                                       ng-model="future_order.shipping_handling"
                                       ng-change="add_shipping_handling(future_order.shipping_handling)">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Grand Total:
                            </td>
                            <td>
                                {{future_order.grand_total | number:2}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-4">
            <div class="alert bg-danger closeable" role="alert" ng-if="errors.order_create.flag">
                <button type="button" class="close" aria-label="Close" ng-click="cancel_product_error()"><span
                        aria-hidden="true">&times;</span></button>
                <center><strong>{{errors.order_create.message}}</strong></center>
            </div>
            <div class="alert bg-success closeable" role="alert" ng-if="success.order_create.flag">
                <button type="button" class="close" aria-label="Close" ng-click="cancel_product_error()"><span
                        aria-hidden="true">&times;</span></button>
                <center><strong>Order <a ng-href="/#/sales/orders/{{success.order_create.id.order_id}}">{{success.order_create.id.order_id}}</a>
                    Created</strong></center>
            </div>
            <div class="panel panel-danger  bootstrap-panel">
                <div class="panel-heading" style="padding: 10px 20px 20px 20px  ">MANAGE ORDER</div>
                <div class="panel-body">
                    <form class="form-horizontal" ng-if="!customer_order">

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button ng-click="create_order(future_order, future_products)" class="btn btn-info">
                                    CREATE ORDER
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


