<div class="row">
    <div class="col-lg-3">
        <label class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" id="inlineCheckbox01" ng-model="regenerateView" value="">
            <span>Regenerate </span>
        </label>
    </div>
    <div class="col-lg-7 " ng-if="regenerateView">

        <form class="form-horizontal" ng-if="!customer_reset_password">

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button ng-click="reset_password(customer.email)" class="btn btn-danger">RESET PASSWORD</button>
                </div>
            </div>
        </form>

        <table class="table table-bordered" ng-if="customer_reset_password">
            <tbody>
            <tr>
                <td style="color: #9d261d">
                    <b> Password: Last Warning Copy It!!! You ll never see it again!!!</b>
                </td>
                <td>
                    {{customer_reset_password.password}}
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="col-lg-4 col-lg-offset-3" ng-if="!regenerateView">

        <div class="input-group" >
            <input type="text"   class="form-control with-danger-addon" ng-model="password" placeholder="">
          <span class="input-group-btn">
              <button class="btn btn-danger"  ng-click="change_password(customer.email,password)" type="button" ng-disabled="password==null ">CHANGE PASSWORD</button>
          </span>
        </div>
        <div class="alert bg-success closeable" role="alert" ng-if="customer_change_password">
            <button type="button" class="close" aria-label="Close" ng-click="cancel_password_changed()"><span aria-hidden="true">&times;</span></button>
            <center> <strong>PASSWORD IS CHANGED !</strong> </center>
        </div>
    </div>

</div>