<h5 style="color: #6f1400">You are about to reset the password for current user, you will be returned a newly generated
    password, copy it, cause you ll never see it again</h5>
<form class="form-horizontal" ng-if="!customer_reset_password">

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button ng-click="reset_password(customer.email)" class="btn btn-danger" >RESET PASSWORD</button>
        </div>
    </div>
</form>

<table class="table table-bordered" ng-if="customer_reset_password">
    <tbody>
    <tr>
        <td style="color: #9d261d">
            <b> Password: Last Warning Copy It!!! You ll never see it again!!!</b>
        </td>
        <td>
            {{customer_reset_password.password}}
        </td>
    </tr>

    </tbody>
</table>
