<div ng-init="init()">
    <div class="col-lg-1">
        <h5><a ng-href="/#/catalog/attribute/">LIST</a></h5>
    </div>

    <div class="col-lg-6">
        <div class="alert bg-success closeable" role="alert" ng-if="success.flag">
            <button type="button" class="close" aria-label="Close" ng-click="cancel_alert('success')"><span
                    aria-hidden="true">&times;</span></button>
            <strong>{{success.message}}</strong>
        </div>
        <div class="alert bg-danger closeable" role="alert" ng-if="error.flag">
            <button type="button" class="close" aria-label="Close" ng-click="cancel_alert('error')"><span
                    aria-hidden="true">&times;</span></button>
            <strong>{{error.message}}</strong>
        </div>

        <h3>{{attribute.label}}</h3>

        <form ng-if="!attribute_saved_data">
            <div class="form-group">
                <label for="login">Code</label>
                <input ng-model="attribute.code" type="text" class="form-control" id="login" placeholder="" ng-disabled="true">
            </div>

            <div class="form-group">
                <label for="label">Label</label>
                <input ng-model="attribute.label" type="text" class="form-control" id="label" placeholder="" >
            </div>

            <div class="form-group">
                <label for="entity">Entity</label>
                <select name="entity" id="entity" class="form-control selectpicker"
                        ng-options="option for option in entities"
                        ng-model="attribute.entity">
                </select>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select name="type" id="type" class="form-control selectpicker" ng-options="option for option in types"
                        ng-model="attribute.type">
                </select>
            </div>


            <div class="form-group">
                <label for="name">Attribute Set</label>
                <input ng-model="attribute.attribute_set" type="text" class="form-control" id="name" placeholder="">
            </div>

            <div ng-if="attribute.entity=='product'">
                <div class="checkbox">
                    <label class="custom-checkbox">
                        <input type="checkbox" ng-model="attribute.comparable">
                        <span>Comparable</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="custom-checkbox">
                        <input type="checkbox" ng-model="attribute.filterable">
                        <span>Filterable</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="custom-checkbox">
                        <input type="checkbox" ng-model="attribute.is_critical_dimension">
                        <span>Is critical dimension</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="custom-checkbox">
                        <input type="checkbox" ng-model="attribute.is_filterable_in_search">
                        <span>Is filterable in search</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="custom-checkbox">
                        <input type="checkbox" ng-model="attribute.is_visible_in_list">
                        <span>Is visible in list</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="custom-checkbox">
                        <input type="checkbox" ng-model="attribute.searchable">
                        <span>Searchable</span>
                    </label>
                </div>
            </div>
            <div ng-if="attribute.type=='decimal'">
                <div class="form-group">
                    <label for="name">Scale</label>
                    <input ng-model="attribute.scale" type="number" class="form-control" id="scale" placeholder="">
                </div>
                <div class="form-group">
                    <label for="name">Length</label>
                    <input ng-model="attribute.length" type="number" class="form-control" id="length"
                           placeholder="">
                </div>
                <div class="form-group">
                    <label for="name">Tolerance</label>
                    <input ng-model="attribute.tolerance" type="number" class="form-control" id="tolerance"
                           placeholder="">
                </div>
                <div class="form-group">
                    <label for="group">Units</label>
                    <select name="group" id="group" class="form-control selectpicker"
                            ng-options="option for option in units"
                            ng-model="attribute.unit">
                    </select>
                </div>
            </div>
            <div ng-if="attribute.type=='int'">
                <div ng-include="'app/pages/catalog/attribute/options.html'"></div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button  ng-click="createAttribute(attribute)" class="btn btn-info" ng-disabled="readyToSubmit(attribute)">UPDATE</button>
                </div>
            </div>

        </form>


    </div>
</div>
</div>