<div class="col-lg-2">
    <h5>LIST</h5>
    <h5><a ng-href="/#/system/node/new">New</a></h5>
</div>
<div class="col-lg-10">
    <div class="row">
        <div class="col-lg-10" ng-init="init()">
            <table ng-if="nodesReady" class="table" st-table="nodes">
                <thead>

                <tr class="sortable ">
                    <th>No</th>
                    <th class="table-id" st-sort="name">Group</th>
                    <th st-sort="host">Host</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="node in nodes">
                    <td>
                       <a ng-href="/#/system/node/{{node.name}}">{{$index + 1}}</a>
                    </td>
                    <td width="30%">
                        <input type="text" ng-model="node.name" class="form-control with-warning-addon" placeholder=""
                               aria-describedby="basic-addon2">
                    </td>
                    <td>
                        <input type="text" ng-model="node.host" class="form-control with-warning-addon" placeholder=""
                               aria-describedby="basic-addon2">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>