<div class="row">
    <div class="col-lg-1">
        <h5>Edit</h5>
        <h5><a  ng-href="/#/customer/">List</a></h5>
        <h5><a  ng-href="/#/sales/orders/all?customer={{customer_id}}">Orders</a></h5>
    </div>
    <div class="col-lg-7 col-lg-offset-1">
        <h3><span style="color: #6f1400">{{customer.firstname}} {{customer.lastname}}</span></h3>
        <div class="alert bg-danger closeable" role="alert" ng-if="error">
            <button type="button" class="close" aria-label="Close" ng-click="cancel_product_error()"><span
                    aria-hidden="true">&times;</span></button>
            <center><strong>{{error.message}}</strong></center>
        </div>
    </div>

    <div class="col-lg-11" ng-init="">

        <uib-accordion>
            <uib-accordion-group heading="General Info" panel-class="panel-info bootstrap-panel accordion-panel" >
                <div ng-include="'app/pages/customers/customer/general_info.html'"></div>
            </uib-accordion-group>
            <uib-accordion-group heading="Billing Address" panel-class="panel-info bootstrap-panel accordion-panel" ng-if="!customer_new">
                <div ng-include="'app/pages/customers/customer/billing_address.html'"></div>
            </uib-accordion-group>
            <uib-accordion-group heading="Shipping Address" panel-class="panel-info bootstrap-panel accordion-panel" ng-if="!customer_new">
                <div ng-include="'app/pages/customers/customer/shipping_address.html'"></div>
            </uib-accordion-group>
            <uib-accordion-group heading="Create Order" panel-class="panel-info bootstrap-panel accordion-panel" ng-if="!customer_new">
                <div ng-include="'app/pages/customers/customer/new_order.html'"></div>
            </uib-accordion-group>
            <uib-accordion-group heading="Manage Passwords" panel-class="panel-info bootstrap-panel accordion-panel" ng-if="!customer_new">
                <div ng-include="'app/pages/customers/customer/password_managment.html'"></div>
            </uib-accordion-group>
            <!--<uib-accordion-group heading="Create Order From Cart" panel-class="panel-info bootstrap-panel accordion-panel" ng-if="!customer_new">-->
                <!--<div ng-include="'app/pages/customers/customer/create_order.html'"></div>-->
            <!--</uib-accordion-group>-->

        </uib-accordion>


    </div>
</div>

