<div class="row" ng-if="!stage">
    <div class="col-lg-2">
        <h3>List</h3>
    </div>
    <div class="col-lg-10" ng-init="init()" >
        <div class="horizontal-scroll">
            <div class="form-group select-page-size-wrap ">
                <label>Rows on page
                    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                            ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                    </select>
                </label>
            </div>
            <table ng-if="shipmentsReady" class="table" st-table="shipments">
                <thead>
                <tr class="sortable ">
                    <th class="table-id" st-sort="id" st-sort-default="true"> Shipment Id</th>
                    <th st-sort="updated_id">Date shipped</th>
                    <th st-sort="order_id">Order No</th>
                    <th st-sort="order_date">Order Date</th>
                    <th st-sort="customer.name">Ship To Name</th>
                    <th st-sort="total_qty">Total Qty</th>
                </tr>
                <tr>
                    <th><input st-search="id" placeholder="Search ID" class="input-sm form-control search-input"
                               type="search"/></th>
                    </th>
                    <th><input st-search="updated_at" placeholder="Search  Date"
                               class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="order_id" placeholder="Search Order"
                               class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="order_date" placeholder="Search Order Date"
                               class="input-sm form-control search-input"
                               type="search"/></th>
                    <th><input st-search="customer.name" placeholder="Search Customer"
                               class="input-sm form-control search-input" type="search"/>
                    </th>
                    <th><input st-search="total_qty" placeholder="Search Qty"
                               class="input-sm form-control search-input" type="search"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in shipments">
                    <td class="table-id"><a  ng-href="/#/sales/shipment/{{item.id}}?order={{item.order_id}}" >{{item.id}}</a></td>
                    <td>{{item.updated_at}}</td>
                    <td><a ng-href="/#/sales/orders/{{item.order_id}}">{{item.order_id}}</a></td>
                    <td>{{item.order_date}}</td>
                    <td>{{item.customer.name}}</td>
                    <td>{{item.total_qty}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
